@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lemon);
body{font-family: 'Oxygen', sans-serif; overflow-x: hidden;height:100%;margin: 0px;}

/*===========================================================
======================( TYPOGRAPHY )=========================
=============================================================*/

h1{ font-size:35px; font-weight:bold; color:#fff;}
h2{ font-size:30px; font-weight:bold; color:#fff;}
h3{ font-size:25px; font-weight:bold; color:#fff;}
h4{ font-size:20px; font-weight:bold; color:#fff;}
h5{ font-size:18px; font-weight:bold; color:#fff;}
h6{ font-size:15px; font-weight:bold; color:#fff;}
p{ font-size:14px;color:#000; line-height:20px}
a{color: inherit; text-decoration:none; outline:none;transition: all .4s ease-in;-moz-transition: all .4s ease-in;-webkit-transition:all .4s ease-in;-o-transition:all .4s ease-in;}
a:hover{text-decoration:none;}
img, video, canvas, object { max-width: 100%; }


/*===========================================================
======================( COMMON STYLE )=======================
=============================================================*/
header{position:relative;width:100%;margin: 0 auto 20px auto; border-bottom:1px solid #706e6a; min-height:80px; height:auto; background:url(../images/tranperent.png); margin-bottom:64px;}
.home{ width:86px; height:80px; float:left; border-right:1px solid #706e6a; background:url(../images/home.png) no-repeat center center; background-size:auto; text-indent:-999999px; margin-right:2%;transition: all .4s ease-in;-moz-transition: all .4s ease-in;-webkit-transition:all .4s ease-in;-o-transition:all .4s ease-in;}
.home a{width:100%; height:100%; display:block;}
.home:hover,.home.active{background:#599112 url(../images/home.png) no-repeat center center;}
header h3{ float:left; line-height:80px;font-size: 22px;}
.followus{ float:right; border-left:1px solid #706e6a; height:80px; }
.followus ul{ margin-left:25px; margin-right:15px;}
.followus ul li{ display:block; float:left; margin-left:10px; line-height:80px;font-size:22px; font-weight:bold; color:#fff;}
.followus ul li img{ padding-top:20px;transition: all .4s ease-in;-moz-transition: all .4s ease-in;-webkit-transition:all .4s ease-in;-o-transition:all .4s ease-in;}
.followus ul li:hover img{ opacity:0.7}
.spacer1{ margin:0; padding:0; height:193px; width:100%;}
.spacer2{ margin:0; padding:0; height:10%; width:100%;}
.spacer3{ margin:0; padding:0; height:15%; width:100%;}
img{ max-width:100%; height:auto}
.navsidebar{ width:244px; height:auto; float:left; position:relative; margin:82px 1px 0 2%; }
.logo{width:166px; height:200px; margin:0 auto;}
.logo h1{ background: url(../images/logo.png) no-repeat; background-size:contain; width:200px; height:200px; text-indent:-999999px;}
.logo h1 a{width:100%; height:100%; display:block;}
.logocntnr{ width:100%; padding:40px 0; background:#fff; margin-bottom:1px;}
.menu ul li{ display:block; width:100%; text-align:center;font-size:17px; font-weight:bold; margin-bottom:1px;}
.menu ul li a{ display:block; padding:15px 0; color:#190b05; background:#fff}
.menu ul li a:hover,.menu ul li a.active{ background:#599112;color:#fff;}
.try{margin-left:25px; margin-right:15px; float:none; height:70px;}


/* Mobile Sub Menu  */
.topnavmenu{ background:url(../images/topRightMenu.png) no-repeat;background-size:cover; width:34px; height:34px; float:right; text-indent:-99999px; display:block; position:absolute;right: 10px;top: 10px; display:none;}
.topnavigation{ position:absolute;top:48px; right:10px;padding:10px; width:auto;z-index:999999;border:1px solid #D8D8D8;text-align:center;		height: auto;width: 130px;background:#599112;padding: 10px;border-radius: 3px;display:none;}
.topnavigation li{ line-height:20px;font-size:13px; text-align:center; display:block; }
.topnavigation li a{ color:#fff; display:block; text-transform:uppercase; text-decoration:none; width:100%}
.topnavigation li a:hover,.topnavigation li a.active{ background:#fff;color:#000;font-weight:400;}


.topNavBox{
	position: relative;
	visibility: visible;
}
.searchform{ background:none; background:url(../images/tranperent.png); width:99.5%; overflow:hidden;border:1px solid #b4afac;}
.searchtext{border:none; outline:none; padding:8px; height:40px; width:79%; float:left; background:none; color:#fff; text-align:center}
.searchbtn{border:none; background:none; background:url(../images/search.png) no-repeat; float:right; cursor:pointer; display:block; width:29px; height:25px; margin-top:10px; margin-right:5px;}
.sign_sidebar{width:244px; height:auto; float:left; position:relative; margin:0 0;}
.sign{ height:80px; width:100%; text-align:center; margin-bottom:1px;}
.sign a{ line-height:80px; color:#000; display:block; font-weight:bold; font-size:18px; color:#000;background:#d7d1cc;}
.sign a:hover{background:#599112;color:#FFF;}
.ordernow{ padding:20px; margin-bottom:1px; background:#e8e9e0}
.orerbtn{ display:block; background:#d1101a; text-align:center; font-size:22px; padding:8% 0; border-radius:4px; text-transform:uppercase; color:#fff; margin-bottom:5px}
.orerbtn:hover{background:#599112;}
.ordernow h4{ color:#d1101a; line-height:28px; padding:7px 0}
.cards{ padding:18px 34px;background:#d7d1cc;}
.cards p{ padding-bottom:10px;}
.sign_sidebar .fssai-logo{text-align: center;padding: 4px;background: rgba(255, 255, 255, 0.6);margin-top: 1px;}
.bannerContainer{ width:50%; float:left; margin-left:5%;}
.banner{ width:90%; float:left; margin-left:0; height:auto;}
.banner-cap-01{margin-left:10%;}
.banner-cap-02{margin-left:3%;}
.bxslider { height:auto;}
.bxslider h1{ font-size:70px;font-family: 'Lemon', cursive; font-weight:400}
.bxslider h2{ line-height:40px; margin-top:3%}
.bxslider li.thirdslide h1{font-size:65px;}
.banner .bx-wrapper .bx-pager{ display:none}
.smallBoxs { width:48%; float:left; margin-right:1px; text-align:center;}
.smallBoxs a img{ text-align:center; display:block; margin-left:5%}
.smallBoxs a{ display:block;}
.testmsliderContainer{ margin-top:4%; height:auto;width:100%; float:left;  }
.testmsliderContainer .bx-wrapper .bx-controls-direction a{ display:none}
/*.testmslider {height:auto; }
.testmslider li{ float:left; font-size:18px; color:#fff; padding-bottom:12px;}
.testmslider li h2{ padding-bottom:10px; line-height:40px;}*/
.testmslider {height:auto; margin-top:50; }
.testmslider li{ float:left;  padding-bottom:12px;color:#fff;}
.testmslider li img{width:150px;height:120px;float:left;margin-right:20px;}
.testmslider li p{font-size:18px; color:#fff;}
.testmslider li h2{ padding-bottom:10px; line-height:40px;font-size:24px;}
footer {min-height:70px; height:auto;width:100%;overflow:hidden; margin-top:64px; border-top:1px solid #706e6a; text-align:center; background:url(../images/tranperent.png);}
footer p{ color:#fff; line-height:70px; font-size:14px;}
footer a:hover{ color:#599112}
footer p.copyright-text{float:left;margin-left:30px;}
footer p.footer-links{float:right;margin-right:30px;}
footer p.footer-links a.active{ color:#599112}

/*.delivery_hd{ width:auto; height:50px; background-color:#666}*/
.delivery_hd p{ background:rgba(235 ,235 ,235 , 0.9); display:inline-block; padding:10px 40px; color:#d1101a; border-radius:3px; text-align:center;margin-left:320px}
.delivery_hd{ margin-bottom:5px;}
.ordernowContainer{position:relative; width:50%; min-height:200px; float:left; margin-right:1px;margin-left:340px;}
.ordernowContainer article{ background:#fff; padding:4%}
.ordernowContainer article h1{ font-size:30px; color:#d1101a; text-transform:uppercase; padding-bottom:29px;}
.ordernowContainer article h4{ font-size:22px; color:#000; padding-bottom:5px;}
.formContainer{ background:#d1101a; padding:20px;}
.formContainer p{ color:#fff}
.mealPLan{ width:60%; margin:0 auto;}
.ordernowContainer a.btn-add{border: 2px solid #fff;padding: 0;height: 20px;width: 20px;display: block;text-align: center;border-radius: 50%;background: #0F9E42;font-weight: bold;line-height: 18px;display:inline-block;margin:0 5px;}
.ordernowContainer a.btn-add:hover{background:#8A0007;}
.formContainer h3{ padding-bottom:20px;}
.cal{ border:none; padding:10px 35px 10px 10px; width:88%; height:30px; background:#fff url(../images/cla.png) no-repeat 98% center;}
.calnew{ border:none; padding:10px 35px 10px 10px; width:88%; height:30px;}
.clad{border:none; padding:10px 35px 10px 10px; width:88%; height:30px; background:#fff no-repeat 98% center;}
.nextstep{ border:none; background:none; width:130px; height:34px; margin:8% auto; display:inline-block; background:#f7941d; font-size:16px; font-weight:bold; color:#fff; border-radius:4px; cursor:pointer; outline:none;transition: all .4s ease-in;-moz-transition: all .4s ease-in;-webkit-transition:all .4s ease-in;-o-transition:all .4s ease-in;}
.nextstep:hover{ background:#599112}
.buttons{ text-align:center}
.mealSelection{ position:relative; color:#fff}
.mealSelection td{ padding:10px 5px;}
.mealSelection tr{ margin-bottom:8px;}
.mealSelection select{ padding:5px; width:200px;}
.cart{ position:relative;}
.cart tr,.cart td{ color:#fff; padding:5px; vertical-align:middle; line-height:22px;}
.qty{ width:50px; border:none; padding:5px 5px; float:left; margin-right:8px;}
tr.cartHd{ font-weight:bold; padding:8px 0}
.rigtAlgn{ text-align:right;}
#example-1 button:disabled{ background:#ccc; display:none}
.loginSignupContainer{ width:68%; float:left; min-height:400px;margin-left:250px}
.flt_lft{ float:left}
.flt_rght{ float:right}
.loginForm { margin-top:1px;padding:4%; color:#000; overflow:hidden; background:rgba(235 ,235 ,235 , 0.9)}
.loginForm span{ display:block; width:100%;font-size:14px;}
.loginForm span label{ float:left; width:40%; line-height:20px; padding-top:20px; font-size:14px;}
.logintxt{ padding:1% 2%; height:40px; width:95%; line-height:40px; float:left; background:#fff; border:none; margin-bottom:10px; border:1px solid #c3bcbc}
.logintxtarea{ padding:1% 2%; height:110px; width:95%; line-height:40px; float:left; background:#fff; border:none; margin-bottom:10px; border:1px solid #c3bcbc;font-family: 'Oxygen', sans-serif; overflow:hidden}
.checkBx{ float:left; margin-top:24px;}
.topHding{padding:4%; background:#fff;}
.loginSignupContainer article{ width:32%; float:left; margin-right:1px;margin-left:300px}
.loginSignupContainer .topHding h1{ font-size:25px; color:#d1101a; text-transform:uppercase; padding-bottom:10px;}
.loginSignupContainer article h4{ color:#cd0c16; padding-top:20px; line-height:25px; padding-bottom:12px;}
.needHelp li{ display:block; line-height:26px;font-size:14px;}
.needHelp li a:hover{ color:#599112}
.guest-submit{border:none; background:none; width:130px; height:40px; margin:0 auto; display:inline-block; float:right; background:#f7941d; font-size:21px; font-weight:bold; color:#fff; border-radius:4px; cursor:pointer; outline:none;transition: all .4s ease-in;-moz-transition: all .4s ease-in;-webkit-transition:all .4s ease-in;-o-transition:all .4s ease-in;} 
.ziptxt{ padding:1% 2%; height:35px; width:47%; line-height:35px; float:left; background:#fff; border:none; margin-bottom:10px; border:1px solid #c3bcbc} 
.zip{ padding:1% 2%; height:45px; width:99%; line-height:45px; background:#fff; border:none; margin-bottom:10px; border:1px solid #c3bcbc }
.guest-submit:hover{ background:#599112}
/*  ----- End ------- */

.abouttabs ul{}
.abouttabs ul li,
.liststyles ul li{list-style:disc;font-size: 14px;color: #000;line-height: 20px;margin-left:20px;}
.abouttabs ol li,.liststyles ol li{list-style:decimal;font-size: 14px;color: #000;line-height: 20px;margin-left:20px;}
.abouttabs ul li a{}

/*How it works*/
ul.each-steps{margin-top:50px;}
ul.each-steps li{position: relative;display: inline-block;width: 45%;margin: 2%;background: #000;}
ul.each-steps li span{position:absolute;top:-25px;width:50px;height:50px;border-radius:70%;background:#39b54a;left:50%;margin-left:-25px;font-size:16px;color:#FFF;font-weight:bold;text-align:center;line-height:50px;z-index: 100;}
ul.each-steps li p{position:absolute;z-index:100;top:15%;text-align:center;width:70%;color:#FFF;font-size:16px;padding: 0 15%;}
ul.each-steps li img{width:100%;opacity: .8;}

.contactContainer{ width:50%;padding:3%;  float:left; height: auto;min-height: 250px; background:#fff; margin-right:1px;margin-left:250px}
.contactContainer h1{ color:#d1101a; font-size:30px; text-transform:uppercase; margin-bottom:26px;}
.contactContainer h4{ color:#000; padding-bottom:10px;}
.ctForm {color:#000; margin-top:20px;}
.ctsmallTxtleft{ padding:1% 2%; height:40px;width:44%;line-height:40px;float:left;background:#fff; border:none;margin-bottom:10px;border:1px solid #c3bcbc} 
.ctsmallTxtrgt{ padding:1% 2%; height:40px;width:44%;line-height:40px;float:right;background:#fff; border:none;margin-bottom:10px;border:1px solid #c3bcbc} 
.ctfullTxt{ padding:1% 2%; height:40px;width:96%;line-height:40px;background:#fff; border:none;margin-bottom:10px;border:1px solid #c3bcbc}
.txtarea{ padding:1% 2%; height:140px;width:96%;line-height:20px;background:#fff; border:none;margin-bottom:10px;border:1px solid #c3bcbc; overflow:hidden;font-family: 'Oxygen', sans-serif;resize:vertical;}
.send{ border:none; background:none; width:130px; height:40px; margin:2% auto; float:right; background:#f7941d; font-size:21px; font-weight:bold; color:#fff; border-radius:3px; cursor:pointer; outline:none;transition: all .4s ease-in;-moz-transition: all .4s ease-in;-webkit-transition:all .4s ease-in;-o-transition:all .4s ease-in;}
.send:hover{ background:#599112}


 /* <>====================================<>
    <>     Contact Form Coding Start      <>
    <>====================================<> */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {  color: #969696; font-size:14px; }
input:-moz-placeholder, textarea:-moz-placeholder {  color: #969696; font-size:14px;}

#slideshow {position:relative;height:auto;z-index:-1;}
#slideshow IMG {position:absolute;top:0;left:0;z-index:8;opacity:0.0;}
#slideshow IMG.active {z-index:10;opacity:1.0;}
#slideshow IMG.last-active {z-index:9;}
#slideshow img {/* Set rules to fill background */min-height: 100%;min-width: 1024px;/* Set up proportionate scaling */width: 100%;height: auto;/* Set up positioning */position: fixed;top: 0;left: 0;}


#tabmenu {margin: 0 0; background:rgba(235 ,235 ,235 , 0.9)}
#nav {overflow: hidden;padding-left: 0;}
#nav li {float: left;list-style: none;background: #EEE;}
#nav li a {padding:0;display: block;background: #e6000d; width:150px; height:50px; text-align:center; line-height:40px; font-size:22px; font-weight:700; color:#fff; transition:none}
#nav li:first-child a {border-left: 1px solid #CCC;}
#tab-content {padding:30px;width: 90%;margin-top: -1px; background:#fff}
#nav li a.active {background:#599112 url(../images/active-arrow.png) no-repeat center bottom;margin-bottom: -3px;}

.menuContainer{ width:68%;  min-height:300px; margin-right:1px; margin-left:300px;}
.menuContainer article{padding:4%; background:#fff}
.menuContainer h1{ color:#d1101a; font-size:30px; text-transform:uppercase; margin-bottom:26px;}
form.meal-chocie {margin-left:50px;float:left;margin-top:6px;}
/*form.meal-chocie input[type="radio"]{margin-right:5px;}
form.meal-chocie label{font-size:15px;font-weight:bold;margin-right:20px;cursor:pointer;}*/

form.meal-chocie input[type=radio].css-checkbox {	display:none;}
form.meal-chocie input[type=radio].css-checkbox + label.css-label {	padding-left:30px;	height:24px; 	display:inline-block;	line-height:24px;	background-repeat:no-repeat;	background-position: 0 0;	font-size:18px;	vertical-align:middle;	cursor:pointer;margin-right:15px;}
form.meal-chocie input[type=radio].css-checkbox:checked + label.css-label {	background-position: 0 -24px;}
form.meal-chocie label.css-label {	background-image:url(../images/csscheckbox_001.png);	-webkit-touch-callout: none;	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none;	-ms-user-select: none;	user-select: none;}

/*  CODE for Inner tabs  */
.tabmenu { padding: 0;}
.tabmenu li {float:left;  margin-bottom:17px; }
.tabmenu li a {float:left; background:#fff; width:120px; height:40px; text-align:center; line-height:40px; font-size:12px; font-weight:700; color:#000;  transition:none}
.tabmenu li:first-child{ margin-left:25px;}
.tabmenu li.active a {background:#599112 url(../images/smallTab-Active.png) no-repeat center bottom; color:#fff }
.tabmenucontent { float: left; clear: both; padding:30px;width: 94%; border-top:1px solid #b7b7b7; overflow:hidden }
.tabmenu li img{ margin-right:10px; margin-top:4px}
.datehd h4{ display:block; font-size:20px; font-weight:bold; color:#3c3b3b; padding-top:0;}
.tabmenu li a.nonveg{ background-color:#f26522; color:#fff}

.list_of_menu_container{ text-align:left}
.date_wise_menu_box{ display:inline-block; vertical-align:top; width:163px; min-height:227px; height:auto; border:1px solid #b7b7b7; background:#fff; margin-bottom:20px}
.date_wise_menu_box h2{ text-align:center; color:#f26522; padding:8px 0}
.date_wise_menu_box span{ display:block; padding:10px; background:#707070; text-align:center; font-size:13px; font-weight:bold; color:#fff}
.date_wise_menu_box ul{ margin-top:8px;}
.date_wise_menu_box ul li{ width:92%; border-bottom:1px solid #ebebeb; line-height:23px; padding:0 10px;font-size:12px; font-weight:bold; color:#3c3b3b}
.date_wise_menu_box img{width:100%;}
.fornonveg h2{ color:#f26522;background: #E8E8E8;}
.forveg h2{ color:#599112;background: #E8E8E8;}
.aboutUsCntnr .resp-tabs-list li {padding: 23px 5.2%;}
.forveg h2.menu-list-price,.fornonveg h2.menu-list-price{color: #3c3b3b;padding-bottom: 26px;}

#horizontalTab{ padding: 0; clear: both; background:#fff; overflow:hidden}
.accordion-header{ font-size:18px; margin-right:15px; padding:12px 0; display:inline-block}
.resp-tabs-container{ overflow:hidden; height:auto; width:100%}
.break{ display:none}
.numbers{ display:block}
/*.hide_this_in_Mob{ display:none}*/
.hide_this_in_large_view{ display:none}
/*======================( Responsive Stuff )=========================*/



/* Landscape phones and down */
@media (max-width: 480px) {
header{margin: 0 auto 0 auto; min-height:inherit; height:auto; margin-bottom:0;}
p{ font-size:12px; line-height:19px}
.home{ width:46px; height:40px; margin-right:2%; background-size:50% 50%}
.home:hover,.home.active{ background-size:50% 50%}
header h3{ line-height:40px;font-size:13px; text-align:right; float:none; padding-right:10px;}
.followus{ float:left; height:auto; width:100%; border:none; display:none }
.followus ul{ margin-left:12%; margin-right:10px;}
.followus ul li{  line-height:40px;font-size:16px;}
.followus ul li img{ padding-top:10px; width:20px; height:20px;}
.logo{width:100px; height:72px; float:left; margin-left:10px; padding-bottom:10px;}
.logo h1{width:99px; height:72px; background-size:contain; }
.logocntnr{ width:60%; padding:10px 0;}
.navsidebar{ width:100%; margin:0; background:#fff; margin-bottom:15px;}
.menu{ display:none}
.topnavmenu{ display:block; top:25px;}
.topnavigation{ top:62px;}
.topnavigation{ padding:0; border:none;width:150px;border-radius: 0;}
.topnavigation li{ line-height:21px;font-size:12px;border-bottom:1px solid #ccc; }
.topnavigation li a{ width:auto; padding:5px}

.searchform{ margin:5px auto; width:92%; background:#599112; display:none}
.searchtext{ color:#000; background:#fff;}
footer{ padding:12px 0; text-align:center}
footer p{line-height:20px; font-size:14px; text-align:center}
footer a:hover{ color:#599112}
footer p.copyright-text{float:none;margin-left:0; font-size:12px;}
footer p.footer-links{float:none;margin-right:0; font-size:12px; margin-bottom:6px;}
.sign_sidebar{width:95%; margin-left:8px; margin-top:15px;}
.cards { text-align:center}
.ordernow{ text-align:center}
.orerbtn{ font-size:15px; padding:4%;display:inline-block;}

.bannerContainer{width:99%; margin-left:1%; margin-top:25px;}
.banner{ width:90%; float:left; margin-left:0; height:auto;}
.bxslider h1{ font-size:34px;}
.bxslider h2{ line-height:22px; margin-top:3%; font-size:18px}
.bxslider li.thirdslide h1{font-size:34px;}
.testmsliderContainer{width:90%;margin-left:1%;}
.testmslider li{ font-size:16px;}
.testmslider li h2{ padding-bottom:10px; line-height:25px;font-size:21px;}

.menuContainer{ width:96%; margin:0 auto 2px auto; float:none; clear:both}
.menuContainer article{padding:2%;}
.menuContainer h1{ padding-top:15px; font-size:24px;}
.tabmenucontent { float: left; clear: both; padding:5px;width: 98%; }
.list_of_menu_container{ text-align:center}

.contactContainer{ width:91%;padding:0 2% 2%; height:auto; min-height:100px; margin:15px auto 2px auto; float:none; clear:both;}
.contactContainer h1{ padding-top:15px; font-size:24px;}
.ordernowContainer{width:98%;  margin-right:0;}
ul.each-steps{ text-align:center}
ul.each-steps li{display:block;width:100%; margin-bottom:35px;}
.mealPLan{ width:90%;}
.mealSelection td{ padding:6px 5px;}
.mealSelection tr{ margin-bottom:8px; font-size:10px;}
.mealSelection select{ padding:5px; width:100px;}
.cart tr,.cart td{ padding:2px; line-height:18px; font-size:10px;}
.numbers{ display:none}
.cart tr{ border-bottom:1px solid #fff}

.loginForm span label{width:40%; line-height:20px; padding-top:20px; font-size:14px;}
.logintxt{ padding:1% 2%; height:30px; width:95%; line-height:30px; margin-bottom:6px;}
.logintxtarea{ padding:1% 2%; height:80px; width:95%; line-height:30px;  margin-bottom:6px;}
.zip{ height:40px; line-height:40px}
.loginSignupContainer{ width:99%; margin:0 auto 2px auto; float:none}
.loginSignupContainer article{ width:96%; margin-right:0; margin:0 auto 20px auto; float:none}
.loginSignupContainer .topHding  h1{font-size: 20px;}
.ordernowContainer{ width:96%;padding:0 2% 2%; height:auto; min-height:100px; margin:0 auto 2px auto; float:none; clear:both;}
.ordernowContainer article h1{ font-size:25px;}
.spacer1{ display:none}
.hide_this_in_Mob{ display:none}
.hide_this_in_large_view{ display:block; margin-top:55px; margin-bottom:15px;}
.delivery_hd{ width:96%; margin:0 auto 5px auto; clear:both}
.delivery_hd p{ background:rgba(235 ,235 ,235 , 0.9); padding:10px 40px; display:block}

.ctsmallTxtleft{ height:30px;width:96%;line-height:30px;float:left;margin-bottom:5px;} 
.ctsmallTxtrgt{ height:30px;width:96%;line-height:30px;float:left;margin-bottom:5px;} 
.ctfullTxt{ height:40px;width:96%;line-height:30px;background:#fff; margin-bottom:5px;}
.txtarea{ height:100px;width:96%;line-height:25px;background:#fff;margin-bottom:5px;}

.sign_sidebar .fssai-logo{display:none;}

	}



/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
	header{margin: 0 auto 0 auto; height:auto;min-height:44px;  margin-bottom:0;}
	p{ font-size:12px; line-height:19px}
.home{ width:46px; height:45px; margin-right:2%; background-size:50% 50%}
.home:hover,.home.active{ background-size:50% 50%}
header h3{ line-height:40px;font-size:13px;}
.followus{ float:right; height:auto; }
.followus ul{ margin-left:15px; margin-right:10px;}
.followus ul li{  line-height:40px;font-size:13px; margin: 0 3px}
.followus ul li img{ padding-top:10px; width:20px; height:20px;}
.logo{width:100px; height:72px; float:left; margin-left:10px; padding-bottom:10px;}
.logo h1{width:99px; height:72px; }
.logocntnr{ width:200px; padding:10px 0;}
.navsidebar{ float:left; width:100%; margin:0 0 2% 0; background:#FFF}
.menu{ display:none}
.topnavmenu{ display:block; top:28px;}

.topnavigation{ padding:0; border:none;width: 200px;border-radius: 0;top:62px;}
.topnavigation li{ line-height:21px;font-size:16px;border-bottom:1px solid #ccc; }
.topnavigation li a{ width:auto; padding:10px}

.searchform{ margin-top:15px; width:245px; position:absolute; bottom:10px; right:10px; background:#599112; display:none}
.searchtext{ color:#000; background:#fff;}
footer { margin:0; margin-top:15px;}
footer p{line-height:30px; font-size:14px;}
footer a:hover{ color:#599112}
footer p.copyright-text{float:none;margin-left:0; font-size:12px;}
footer p.footer-links{float:none;margin-right:0; font-size:12px;}

.sign_sidebar{ float:none; margin-left:0; width:100%; height:80px; overflow:hidden;background:#d7d1cc; /*display:none*/}
.sign_sidebar .fssai-logo{display:none;}
.sign{ height:80px; width:30%; text-align:center; margin-bottom:1px; float:left; border-right:1px solid #000}
.sign a{ line-height:35px;font-size:12px; display:inline-block; height:35px; padding:0 20px; border-radius:3px; margin-top:25px; }
.sign a:hover{background:#599112;}
.ordernow{ padding:10px;background:#d7d1cc; width:30%; float:left; text-align:center;height:80px; border-right:1px solid #000}
.orerbtn{text-align:center; line-height:25px; margin-top:15px;font-size:12px; padding:2% 7%;display:inline-block;}
.ordernow h4{ display:none}
.cards { text-align:center; float:left; width:32%; padding:5px;}
.cards img{ width:90px; height:auto}
.cards p{ padding-bottom:5px;}


.bannerContainer{  width:99%; margin:20px 0 30px 1%}
.banner{ width:75%; float:none; margin-left:0; height:auto; margin:0 auto}
.bxslider h1{ font-size:47px;}
.bxslider h2{ line-height:22px; margin-top:3%; font-size:18px}
.bxslider li.thirdslide h1{font-size:44px;}
.testmsliderContainer{width:75%;margin-left:0; margin:0 auto;float:none;}
.testmslider li{ font-size:16px;}
.testmslider li h2{ padding-bottom:10px; line-height:25px;font-size:21px;}

.menuContainer{ width:97%; margin:0 auto 15px auto; float:none; clear:both;}
.menuContainer article{padding:2%;}
.menuContainer h1{ padding-top:15px;}
.tabmenucontent { float: left; clear: both; padding:5px;width: 98%; }
.list_of_menu_container{ text-align:center}
.contactContainer{ width:92%;padding:1% 2% 2%; height:auto; min-height:100px; margin:15px auto 15px auto; float:none; clear:both;}
.contactContainer h1{ padding-top:15px;}


.ctsmallTxtleft{height:30px;} 
.ctsmallTxtrgt{height:30px;}  
.ctfullTxt{height:30px;} 
.txtarea{ height:130px;}


.delivery_hd{ width:96%; margin:0 auto 5px auto}
.delivery_hd p{ background:rgba(235 ,235 ,235 , 0.9); display:block; padding:10px 40px;}
.ordernowContainer{width:96%;  margin-right:0; margin:0 auto 15px auto; float:none; clear:both;}
.mealPLan{ width:90%;}
.mealSelection td{ padding:6px 5px;}
.mealSelection tr{ margin-bottom:8px; font-size:13px;}
.mealSelection select{ padding:5px; width:100px;}
.cart tr,.cart td{ padding:2px; line-height:18px; font-size:13px; vertical-align:top}
.numbers{ display:none}
.cart tr{ border-bottom:1px solid #fff}
.qty{ width:20px;}

.loginSignupContainer{ width:99%; margin:0 auto 2px auto; float:none; clear:both;}
.loginSignupContainer article{ width:96%; margin-right:0; margin:0 auto 20px auto; float:none}
.loginForm span label{width:40%; line-height:20px; padding-top:20px; font-size:14px;}
.logintxt{ height:30px; line-height:30px; margin-bottom:6px;}
.logintxtarea{height:80px;  line-height:30px;  margin-bottom:6px;}
.zip{ height:40px; line-height:40px}

.spacer1{ display:none}
.loginForm span label{width:110px;}
.hide_this_in_Mob{ display:none}
.hide_this_in_large_view{ display:block; margin-top:25px;}
	}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1000px) {
	header{margin: 0 auto 0 auto; height:auto;min-height:45px;  margin-bottom:0;}
	.home{ width:46px; height:45px; margin-right:2%; background-size:50% 50%}
.home:hover,.home.active{ background-size:50% 50%}
header h3{ line-height:40px;font-size:13px;}
.followus{ float:right; height:auto; }
.followus ul{ margin-left:15px; margin-right:10px;}
.followus ul li{  line-height:40px;font-size:13px; margin: 0 3px}
.followus ul li img{ padding-top:10px; width:20px; height:20px;}
.logo{width:100px; height:72px; float:left; margin-left:10px; padding-bottom:15px;}
.logo h1{width:99px; height:72px; }
.logocntnr{ width:200px; padding:20px 0;}
.navsidebar{ float:left; width:100%; margin:0 0 2% 0; background:#fff}
.menu{ display:none}
.topnavmenu{ display:block; top:35px;}
.topnavigation{ padding:0; border:none;width: 200px;border-radius: 0; top:72px;}
.topnavigation li{ line-height:21px;font-size:16px;border-bottom:1px solid #ccc; }
.topnavigation li a{ width:auto; padding:10px}
.searchform{ margin-top:15px; width:250px; position:absolute; bottom:10px; right:10px; background:#599112; display:none}
.searchtext{ color:#000; background:#fff;}
.sign_sidebar{ float:none; margin-left:0; margin-top:15px; width:100%; height:80px; overflow:hidden;background:#d7d1cc;}
.sign_sidebar .fssai-logo{display:none;}
.sign{ height:80px; width:30%; text-align:center; margin-bottom:1px; float:left; border-right:1px solid #000}
.sign a{ line-height:40px;font-size:15px; display:inline-block; height:40px; padding:0 20px; border-radius:3px; margin-top:20px; }
.sign a:hover{background:#599112;}
.ordernow{ padding:10px;background:#d7d1cc; width:30%; float:left; text-align:center;height:80px; border-right:1px solid #000}
.orerbtn{text-align:center; line-height:25px; margin-top:12px;font-size:15px; padding:2% 4%;display:inline-block;}
.ordernow h4{ display:none}
.cards { text-align:center; float:left; width:34%; padding:5px;}
.cards img{ width:90px; height:auto}
.cards p{ padding-bottom:5px;}

.bannerContainer{width:99%; margin:20px 0 30px 1%}
.banner{ width:75%; float:none; margin-left:0; height:auto; margin:0 auto}
.bxslider h1{ font-size:72px;}
.bxslider h2{ line-height:35px; margin-top:3%;}
.bxslider li.thirdslide h1{font-size:54px;}
.testmsliderContainer{width:75%;margin-left:1%; float:none; margin:0 auto}
.testmslider li h2{ line-height:30px;font-size:28px;}


p.copyright-text{ width:45%; margin-left:0}
p.footer-links{ width:45%; margin-right:0}
footer { margin:0; margin-top:15px;}
footer p{line-height:30px;}

.menuContainer{ width:97%; margin:15px auto 2px auto; float:none; clear:both}
.menuContainer article{padding:2%;}
.tabmenucontent { float: left; clear: both; padding:5px;width: 98%; }
.list_of_menu_container{ text-align:center}
.contactContainer{ width:93%;padding:1% 2% 2%; height:auto; min-height:100px; margin:15px auto 2px auto; clear:both; float:none}
.ordernowContainer{ width:95%;padding:1% 2% 2%; height:auto; min-height:100px; margin:15px auto 2px auto; clear:both; float:none}
.mealPLan{ width:50%;}

.loginSignupContainer{ width:94%; margin:15px auto 2px auto; float:none; clear:both }
.loginSignupContainer article{ width:32%; margin-right:1px;}
.loginForm span label{width:40%; line-height:20px; padding-top:20px; font-size:14px;}
.logintxt{ height:30px; line-height:30px; margin-bottom:6px;}
.logintxtarea{height:80px;  line-height:30px;  margin-bottom:6px;}
.zip{ height:40px; line-height:40px}

.spacer1{ display:none}
.loginForm span label{width:110px;}
.hide_this_in_Mob{ display:none}
.hide_this_in_large_view{ display:block}
	}

@media (min-width: 1311px) and (max-width: 1400px) {
	header{min-height: 70px;}
.home {height: 70px;}
.home:hover,.home.active{ background-size:50% 50%}
header h3 {line-height: 70px;font-size: 20px;}
.followus {height: 70px;}
.followus ul li {line-height: 70px;font-size: 20px;margin-left: 10px;}
.followus ul li img {padding-top: 21px;width: 30px;}
bxslider h1 {font-size: 56px;}
footer {min-height: 60px;}
footer p {line-height: 60px;font-size: 12px;}
.hide_this_in_Mob{ display:block}
.hide_this_in_large_view{ display:none}
	}

/* Large desktop */
@media (min-width: 1001px) and (max-width: 1310px) {
header{margin: 0 auto 0 auto; height:auto;min-height:45px;  margin-bottom:24px;}
.home{ width:46px; height:45px; margin-right:2%; background-size:50% 50%}
.home:hover,.home.active{ background-size:50% 50%}
header h3{ line-height:40px;font-size:13px;}
.followus{ float:right; height:auto; }
.followus ul{ margin-left:15px; margin-right:10px;}
.followus ul li{  line-height:40px;font-size:13px; margin: 0 3px}
.followus ul li img{ padding-top:10px; width:20px; height:20px;}
.bannerContainer{width:48%; margin:0 0 0 1%}
.banner{ width:98%; float:none; margin-left:0; height:auto; margin:0 auto}
.bxslider h1{ font-size:52px;}
.bxslider h2{ line-height:30px; margin-top:3%;}
.bxslider li.thirdslide h1{font-size:44px;}
.testmsliderContainer{width:98%; float:none; margin:15px auto 0 auto}
.testmslider li h2{ line-height:33px;font-size:28px;}

.tabmenucontent {padding:5px;width:98%;}
ul.resp-tabs-list li { font-size:12px !important; }
.sign_sidebar{ margin-left:1px; width:200px;}
.navsidebar{ margin-left:10px; width:200px;}
.searchform{ width:auto;}
.searchtext{width:69%;}
.contactContainer{ width:50%;}
.aboutUsCntnr .resp-tabs-list li {padding: 15px 4%;}

.loginSignupContainer{ width:78%; }
.loginSignupContainer article{ width:32%; margin-right:1px;}
.spacer1{ display:none}
.hide_this_in_Mob{ display:block}
.hide_this_in_large_view{ display:none}
}

/**************************************************/

.list{padding:0; margin:0;}
.list li{padding:10px 0 10px 15px; margin:0; display:block; line-height:25px; list-style-type: circle; background:url(../images/dott.html)0 17px no-repeat;}


.hello{
float:left;
padding:2% 0 0 25%;
}
